include *.txt *.md *.rst Makefile *.py AUTHORS ChangeLog LICENSE
recursive-include fabmagic *.py
recursive-exclude fabmagic *.pyo *.pyc
recursive-include docs *.txt *.py *.rst *.md *
recursive-include docs *
recursive-include tests *.py
recursive-include fabmagic/magic_templates/ *
recursive-include examples *
recursive-include examples/fabmagic_box/ Vagrantfile
recursive-include examples/fabmagic_box/ Vagrantfile
recursive-include examples/cookbook/ *
recursive-exclude examples/cookbook/ .*pyo *.pyc
recursive-include tests/magic_templates/ *
recursive-exclude docs *.pyc
recursive-exclude docs *.pyo
recursive-exclude tests *.pyc
recursive-exclude tests *.pyo
recursive-exclude examples *.pyc
recursive-exclude examples *.pyo